services:

  db:
    image: postgres:15-alpine
    container_name: letterboxd_stats_database
    environment:
      POSTGRES_USER: letterboxduser
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: letterboxddb
    ports:
      - "5432:5432"
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U letterboxduser -d letterboxddb"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: letterboxd_stats_backend
    environment:
      DATABASE_URL: postgresql+psycopg://letterboxduser:securepassword@db:5432/letterboxddb
      TMDB_API_KEY: ${TMDB_API_KEY}
      LOG_LEVEL: INFO
      SQL_ECHO: False
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: letterboxd_stats_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev

volumes:
  postgres_data: